<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Nav + Full-height Columns</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/2.10.1/styles/overlayscrollbars.min.css" />
  <link rel="stylesheet" href="scss/main.css">
    <!-- <link rel="stylesheet" href="scss/main.scss"> -->

</head>
<body>
  <header class="nav" id="siteNav">
    <div class="nav__row nav__row--hoverable">
      <button class="nav__btn nav__btn--auto" data-hover-width="33.35vw"
       hx-get="/index.html" hx-select=".layout" hx-target=".layout" hx-swap="outerHTML transition:true" hx-push-url="true">Nadja Bournonville</button>
      <button class="nav__btn nav__btn--flex nav__btn--spacer" aria-hidden="true"></button>
      <button class="nav__btn nav__btn--auto" data-hover-width="20vw" hx-push-url="true">about</button>
      <button class="nav__btn nav__btn--auto preselected" 
      data-hover-width="44.6vw" hx-get="/work.html" hx-select=".layout" 
      hx-target=".layout" hx-swap="outerHTML transition:true" hx-push-url="true">works</button>
      <button class="nav__btn nav__btn--auto" data-hover-width="25vw"
      hx-get="/news.html" hx-select=".layout" hx-target=".layout" 
      hx-swap="outerHTML transition:true"
      hx-push-url="true">news</button>
    </div>
    <div class="nav__row" id="subnav__row" hx-swap-oob="true" >
      <button class="nav__btn nav__btn--flex nav__btn--closable">
        <span class="nav__btn-text">2022 a worm crossed the street</span>
        <span class="nav__btn-close" 
        aria-label="Close" hx-get="/work.html" 
        hx-select=".layout" hx-target=".layout" hx-swap="outerHTML transition:true" hx-push-url="true">×</span>
      </button>
    </div>
  </header>
  <main class="layout" id="siteLayout" aria-live="polite">
    <!-- Left Column: Images with captions -->
    <section class="layout__col layout__col--no-padding" data-col="0" data-overlayscrollbars-initialize>
      <figure class="col-image">
        <img src="img/69_klump.jpg" alt="Eva Stain">
        <figcaption class="col-image__caption">Klump, C-Print, 2019</figcaption>
      </figure>
      <figure class="col-image">
        <img src="img/worm_ecc.jpg" alt="Figur 1">
        <figcaption class="col-image__caption">Sed do</figcaption>
      </figure>
      <figure class="col-image">
        <img src="img/figur1.jpg" alt="AWCTS 200">
        <figcaption class="col-image__caption">Ut enim ad minim veniam</figcaption>
      </figure>
    </section>
    <div class="layout__divider" data-divider="0"><span class="layout__divider-handle"></span></div>
    
    <!-- Middle Column: Buttons -->
    <section class="layout__col layout__col--no-padding" data-col="1" data-overlayscrollbars-initialize>
      <div class="col-buttons" id="col-buttons"  hx-swap-oob="true">
        <button class="col-buttons__btn" 
        hx-get="/worm-text.html" 
        hx-select=".col3"
        hx-target=".col3" 
        hx-swap="outerHTML transition:true" 
        hx-push-url="true">text</button>
        <button class="col-buttons__btn is_active"
        hx-get="/worm-book.html" 
        hx-select=".col3"
        hx-target=".col3" 
        hx-swap="outerHTML transition:true" 
        hx-push-url="true"
        >book</button>
        <button class="col-buttons__btn"
        hx-get="/worm-exhibition.html" 
        hx-select=".col3"
        hx-target=".col3" 
        hx-swap="outerHTML transition:true" 
        hx-push-url="true"
        >exhibition views</button>
      </div>
    </section>
    <div class="layout__divider layout__divider--optional" data-divider="1"><span class="layout__divider-handle"></span></div>
    
    <!-- Right Column: Two-column text -->
    <section class="layout__col  layout__col--no-padding layout__col--optional col3" data-col="2" data-overlayscrollbars-initialize>
        <button class="col-buttons__btn-list text-body">
          Format:<br>
          16,5 × 24 cm, 144 pages + 6 postcards
          </button>
        <button class="col-buttons__btn-list text-body">
          ISBN: 978-3-902993-65-6
          </button>
        <button class="col-buttons__btn-list text-body">
          Language:<br>
          Swe/Eng
        </button>
        <button class="col-buttons__btn-list text-body">
          Edition:<br>
          500
        </button>
        <button class="col-buttons__btn-list text-body">
          Fotohof edition<br>
          Bd./vol. 265
        </button>
        
        <figure class="col-image small-image">
        <img src="img/size_280_image5495.jpg" alt="Eva Stain">
        <figcaption class="col-image__caption">Haus am Kleistpark, 2019</figcaption>
      </figure>
    </section>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/2.10.1/browser/overlayscrollbars.browser.es6.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
